# ArcGIS Pro
*.gdb/
*.gdb/*
*.aprx
*.aprx~
*.lock
*.sr.lock
.backups/
ImportLog/
Index/
RasterFunctionTemplates/
GpMessages/
.arcgispro/

# Raster & cache
*.tif
*.tiff*.img
*.aux
*.ovr
*.rrd
cache/
raster_cache/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/


# Keep folder structure
!data/.gitkeep

# Allow raw folder itself
!data/raw/

# Allow Phase 0 shapefiles in Natural_Earth_quick_start/10m_physical
!data/raw/Natural_Earth_quick_start/10m_physical/ne_10m_*.*


# OS
.DS_Store
Thumbs.db

# GIS / Large project files
*.lyr
*.lyrx
*.mxd
*.sxd
*.sddraft
*.geodatabase
*.gdbtable
*.gdbtablx
*.raster
*.cache
*.bak
data/.ipynb_checkpoints/

*.sr.lock
desktop.ini

# Local / editor / database files
*.pyHistory
*.sde