# ArcGIS Pro
*.gdb/
*.gdb/*
*.aprx
*.aprx~
*.lock
*.sr.lock
.backups/
ImportLog/
Index/
RasterFunctionTemplates/
GpMessages/
.arcgispro/

# Raster & cache
*.tif
*.tiff
*.img
*.aux
*.ovr
*.rrd
cache/
raster_cache/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data outputs
data/raw/
data/processed/
data/cleaned/

# OS
.DS_Store
Thumbs.db

# GIS / Large project files
*.lyr
*.lyrx
*.mxd
*.sxd
*.sddraft
*.geodatabase
*.gdbtable
*.gdbtablx
*.raster
*.cache
*.bak
